
@font-face {
    font-display: swap; 
    font-family: 'Open Sans';
    src: url('../fonts/open-sans-v34-latin-regular.eot'); 
    src: url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), 
         url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), 
         url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); 
  }